.ttttt {
    background-color: aqua;
}

.header_section {
    display: block;
    width: 100%;

}

.date_to {
    margin-left: 20px;
}

.table_header {
    display: flex;
}

.table_header div {
    margin-left: 20px;
}